name: davidapps:build_and_deploy
on: push
jobs:
   execute:
      env:
         IMAGE: davidilie/personal-dashboard
      runs-on: ubuntu-latest
      steps:
         - name: Generate build ID
           id: prep
           run: |
              branch=${GITHUB_REF##*/}
              sha=${GITHUB_SHA::8}
              ts=$(date +%s)
              echo "::set-output name=BUILD_ID::${branch}-${sha}-${ts}"
         - name: Set up QEMU
           uses: docker/setup-qemu-action@v1
         - name: Set up Docker Buildx
           uses: docker/setup-buildx-action@v1
         - name: Login to GitHub Container Registry
           uses: docker/login-action@v2
           with:
              registry: ghcr.io
              username: ${{ github.actor }}
              password: ${{ secrets.TOKEN }}
         - name: Build and publish container image with tag
           uses: docker/build-push-action@v2
           with:
              push: true
              context: .
              file: ./Dockerfile
              tags: |
                 ${{ env.IMAGE }}:${{ steps.prep.outputs.BUILD_ID }}
